apiVersion: admissionregistration.k8s.io/v1
kind: ValidatingWebhookConfiguration
metadata:
  name: gardener-extension-admission-azure
webhooks:
- name: validation.azure.provider.extensions.gardener.cloud
  rules:
  - apiGroups:
    - "core.gardener.cloud"
    apiVersions:
    - v1alpha1
    - v1beta1
    operations:
    - CREATE
    - UPDATE
    resources:
    - cloudprofiles
    - shoots
  failurePolicy: Fail
  # Please make sure you are running `gardener@v1.42` or later before enabling this
  objectSelector:
    matchLabels:
      provider.extensions.gardener.cloud/azure: "true"
  namespaceSelector: {}
  sideEffects: None
  admissionReviewVersions:
  - v1
  - v1beta1
  clientConfig:
    url: "https://localhost:9443/webhooks/validate"
    caBundle: LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSUMrekNDQWVPZ0F3SUJBZ0lSQU85Z2JoQ3dxZTVJTUplRERkVVVmaTB3RFFZSktvWklodmNOQVFFTEJRQXcKRnpFVk1CTUdBMVVFQXhNTVoyRnlaR1Z1WlhJdFpHVjJNQjRYRFRJeE1ERXlNVEV3TXpFMU5Wb1hEVE14TURFeQpNVEV3TXpFMU5Wb3dGekVWTUJNR0ExVUVBeE1NWjJGeVpHVnVaWEl0WkdWMk1JSUJJakFOQmdrcWhraUc5dzBCCkFRRUZBQU9DQVE4QU1JSUJDZ0tDQVFFQXdLdGFKb0lVbHFHMWQ4MmZXQ0RrWXRCZVRCSnZHcExrdFo5WkZLTEsKWUo4VWE0ODZ2SjhlOUsyaGlCd0FSMEF5OC9pTVR4YVU3RlpCUE4zNHZIOWY5MHM1UitnM0ZMQXoxcUpkd1pKdgpOVlhUS3B6TFZsRml1N0p2bkgxYXV2TkN0RGhTUXhEZ0t1QWhKWEZzYms4cDl2bXJ0L2RvK1ZjdS9iYXZXSXoyCjJFZEVIbnJDZ2VCdGNUNkZTNnhaTjJFaW0zL3B0SUZlbFhvZldqcXBoM1drZ0tvTTErUWFOdWs3Q3lDZkFXeFUKN2VucFBaYWVHa2tReGtObVFkY1cyZHdxSms5TmhGRVFObW83ZHRibkE1SUNSeFpmeUd1c0IxL1lSbG5VMmlRYwp4WE50Y1JxMzJOMWFUVUtCemMySDM3Qk1GNHVxbWlHSkJjNTNBdmRXWjBrek13SURBUUFCbzBJd1FEQU9CZ05WCkhROEJBZjhFQkFNQ0FhWXdEd1lEVlIwVEFRSC9CQVV3QXdFQi96QWRCZ05WSFE0RUZnUVVZcjZkQWhydTNGcXEKVG9Yb3E5ejk1bUUzWmVNd0RRWUpLb1pJaHZjTkFRRUxCUUFEZ2dFQkFETzg3K2NXNk9PdHYxOTBIWlhrenhTMgpnZThtMW9LR3F3c3I5YnVOWnZFZktxWGZCMjk4UUU3ajRBR3R5YmFjV0RXTUVYelN6QXQzVkU5RnovLzNaNHU2CkpzS3Q2SHA4L2g1UnYrWENIbUY3K2JNU0pnSXdqOFhhSzdQcXZMbFRiUGVQOHRzOXRlSm5YV05FTHdqdnVwNVgKQ2R5RFZGQnUzWUF5NHNoT21TUWpLRWN5MHExM3pSZUdkSjdBTmY1V2xZVnZqYUVJc1NML1dTTnMxTGRKNXBLMgpubCtNNnNUcWY0TnhlTUVqQW9mcHdkUnZtaU1sdzhFMFM1UnNnM0ZsL1poMnNYUCtIU3hVbUk1MUU5N2RDU2cvCk1RYlhpcUxvbW1mZGY3elZpaFhsQldSczB5bVNJcHlTUW5MOXZuTVA4ZEpGV1FZSkhRQ3dpV3NqWkgyQmxtTT0KLS0tLS1FTkQgQ0VSVElGSUNBVEUtLS0tLQo=
- name: secrets.validation.azure.provider.extensions.gardener.cloud
  rules:
  - apiGroups:
    - ""
    apiVersions:
    - v1
    operations:
    - UPDATE
    resources:
    - secrets
  failurePolicy: Fail
  objectSelector: {}
  namespaceSelector: {}
  sideEffects: None
  admissionReviewVersions:
  - v1
  - v1beta1
  clientConfig:
    service:
      namespace: garden
      name: gardener-extension-admission-azure
      path: /webhooks/validate/secrets
      port: 9443
    caBundle: LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSUMrekNDQWVPZ0F3SUJBZ0lSQU85Z2JoQ3dxZTVJTUplRERkVVVmaTB3RFFZSktvWklodmNOQVFFTEJRQXcKRnpFVk1CTUdBMVVFQXhNTVoyRnlaR1Z1WlhJdFpHVjJNQjRYRFRJeE1ERXlNVEV3TXpFMU5Wb1hEVE14TURFeQpNVEV3TXpFMU5Wb3dGekVWTUJNR0ExVUVBeE1NWjJGeVpHVnVaWEl0WkdWMk1JSUJJakFOQmdrcWhraUc5dzBCCkFRRUZBQU9DQVE4QU1JSUJDZ0tDQVFFQXdLdGFKb0lVbHFHMWQ4MmZXQ0RrWXRCZVRCSnZHcExrdFo5WkZLTEsKWUo4VWE0ODZ2SjhlOUsyaGlCd0FSMEF5OC9pTVR4YVU3RlpCUE4zNHZIOWY5MHM1UitnM0ZMQXoxcUpkd1pKdgpOVlhUS3B6TFZsRml1N0p2bkgxYXV2TkN0RGhTUXhEZ0t1QWhKWEZzYms4cDl2bXJ0L2RvK1ZjdS9iYXZXSXoyCjJFZEVIbnJDZ2VCdGNUNkZTNnhaTjJFaW0zL3B0SUZlbFhvZldqcXBoM1drZ0tvTTErUWFOdWs3Q3lDZkFXeFUKN2VucFBaYWVHa2tReGtObVFkY1cyZHdxSms5TmhGRVFObW83ZHRibkE1SUNSeFpmeUd1c0IxL1lSbG5VMmlRYwp4WE50Y1JxMzJOMWFUVUtCemMySDM3Qk1GNHVxbWlHSkJjNTNBdmRXWjBrek13SURBUUFCbzBJd1FEQU9CZ05WCkhROEJBZjhFQkFNQ0FhWXdEd1lEVlIwVEFRSC9CQVV3QXdFQi96QWRCZ05WSFE0RUZnUVVZcjZkQWhydTNGcXEKVG9Yb3E5ejk1bUUzWmVNd0RRWUpLb1pJaHZjTkFRRUxCUUFEZ2dFQkFETzg3K2NXNk9PdHYxOTBIWlhrenhTMgpnZThtMW9LR3F3c3I5YnVOWnZFZktxWGZCMjk4UUU3ajRBR3R5YmFjV0RXTUVYelN6QXQzVkU5RnovLzNaNHU2CkpzS3Q2SHA4L2g1UnYrWENIbUY3K2JNU0pnSXdqOFhhSzdQcXZMbFRiUGVQOHRzOXRlSm5YV05FTHdqdnVwNVgKQ2R5RFZGQnUzWUF5NHNoT21TUWpLRWN5MHExM3pSZUdkSjdBTmY1V2xZVnZqYUVJc1NML1dTTnMxTGRKNXBLMgpubCtNNnNUcWY0TnhlTUVqQW9mcHdkUnZtaU1sdzhFMFM1UnNnM0ZsL1poMnNYUCtIU3hVbUk1MUU5N2RDU2cvCk1RYlhpcUxvbW1mZGY3elZpaFhsQldSczB5bVNJcHlTUW5MOXZuTVA4ZEpGV1FZSkhRQ3dpV3NqWkgyQmxtTT0KLS0tLS1FTkQgQ0VSVElGSUNBVEUtLS0tLQo=
