apiVersion: apps/v1
kind: Deployment
metadata:
  name: cloud-controller-manager
  namespace: {{ .Release.Namespace }}
  labels:
    app: kubernetes
    role: cloud-controller-manager
spec:
  revisionHistoryLimit: 1
  replicas: {{ .Values.replicas }}
  selector:
    matchLabels:
      app: kubernetes
      role: cloud-controller-manager
  template:
    metadata:
{{- if .Values.podAnnotations }}
      annotations:
{{ toYaml .Values.podAnnotations | indent 8 }}
{{- end }}
      labels:
        gardener.cloud/role: controlplane
        app: kubernetes
        role: cloud-controller-manager
        networking.gardener.cloud/to-dns: allowed
        networking.gardener.cloud/to-public-networks: allowed
        networking.gardener.cloud/to-shoot-apiserver: allowed
        networking.gardener.cloud/from-prometheus: allowed
{{- if .Values.podLabels }}
{{ toYaml .Values.podLabels | indent 8 }}
{{- end }}
    spec:
{{- if .Values.tsc }}
      topologySpreadConstraints:
{{ toYaml .Values.tsc | indent 6 }}
{{- end }}
      automountServiceAccountToken: false
      priorityClassName: gardener-system-300
      containers:
      - name: azure-cloud-controller-manager
        image: {{ index .Values.images "cloud-controller-manager" }}
        imagePullPolicy: IfNotPresent
        command:
        {{- if semverCompare "< 1.17" .Values.kubernetesVersion }}
        - /hyperkube
        - cloud-controller-manager
        - --allocate-node-cidrs=true
        {{- else if semverCompare ">= 1.23" .Values.kubernetesVersion }}
        - /usr/local/bin/cloud-controller-manager
        - --allocate-node-cidrs=false
        {{- else }}
        - /azure-cloud-controller-manager
        - --allocate-node-cidrs=true
        {{- end }}
        - --cloud-provider=azure
        - --cloud-config=/etc/kubernetes/cloudprovider/cloudprovider.conf
        - --cluster-cidr={{ .Values.podNetwork }}
        - --cluster-name={{ .Values.clusterName }}
        - --concurrent-service-syncs=1
        - --configure-cloud-routes=true
        {{- if semverCompare ">= 1.23" .Values.kubernetesVersion }}
        - --controllers=*,-cloud-node
        - --route-reconciliation-period=10s
        {{- end }}
        {{- include "cloud-controller-manager.featureGates" . | trimSuffix "," | indent 8 }}
        - --kubeconfig=/var/run/secrets/gardener.cloud/shoot/generic-kubeconfig/kubeconfig
        - --authentication-kubeconfig=/var/run/secrets/gardener.cloud/shoot/generic-kubeconfig/kubeconfig
        - --authorization-kubeconfig=/var/run/secrets/gardener.cloud/shoot/generic-kubeconfig/kubeconfig
        - --leader-elect=true
        - --secure-port={{ include "cloud-controller-manager.port" . }}
        {{- if semverCompare "< 1.24" .Values.kubernetesVersion }}
        - --port=0
        {{- end }}
        - --tls-cert-file=/var/lib/cloud-controller-manager-server/tls.crt
        - --tls-private-key-file=/var/lib/cloud-controller-manager-server/tls.key
        - --tls-cipher-suites={{ .Values.tlsCipherSuites | join "," }}
        - --use-service-account-credentials
        - --v=2
        livenessProbe:
          httpGet:
            path: /healthz
            scheme: HTTPS
            port: {{ include "cloud-controller-manager.port" . }}
          successThreshold: 1
          failureThreshold: 2
          initialDelaySeconds: 15
          periodSeconds: 10
          timeoutSeconds: 15
        ports:
        - containerPort: {{ include "cloud-controller-manager.port" . }}
          name: metrics
          protocol: TCP
        terminationMessagePath: /dev/termination-log
        terminationMessagePolicy: File
        {{- if .Values.resources }}
        resources:
{{ toYaml .Values.resources | indent 10 }}
        {{- end }}
        volumeMounts:
        - mountPath: /var/run/secrets/gardener.cloud/shoot/generic-kubeconfig
          name: kubeconfig
          readOnly: true
        - name: cloud-controller-manager-server
          mountPath: /var/lib/cloud-controller-manager-server
        - name: cloud-provider-config
          mountPath: /etc/kubernetes/cloudprovider
        - name: fedora-rhel6-openelec-cabundle
          mountPath: /etc/pki/tls
          readOnly: true
        - name: centos-rhel-cabundle
          mountPath: /etc/pki/ca-trust
          readOnly: true
        - name: etc-ssl
          mountPath: /etc/ssl
          readOnly: true
        - name: usr-share-cacerts
          mountPath: /usr/share/ca-certificates
          readOnly: true
      dnsPolicy: ClusterFirst
      restartPolicy: Always
      schedulerName: default-scheduler
      terminationGracePeriodSeconds: 30
      volumes:
      - name: kubeconfig
        projected:
          defaultMode: 420
          sources:
          - secret:
              items:
              - key: kubeconfig
                path: kubeconfig
              name: {{ .Values.global.genericTokenKubeconfigSecretName }}
              optional: false
          - secret:
              items:
              - key: token
                path: token
              name: shoot-access-cloud-controller-manager
              optional: false
      - name: cloud-controller-manager-server
        secret:
          secretName: {{ .Values.secrets.server }}
      - name: cloud-provider-config
        secret:
          secretName: cloud-provider-config
      - name: fedora-rhel6-openelec-cabundle
        hostPath:
          path: /etc/pki/tls
          type: "DirectoryOrCreate"
      - name: centos-rhel-cabundle
        hostPath:
          path: /etc/pki/ca-trust
          type: "DirectoryOrCreate"
      - name: etc-ssl
        hostPath:
          path: /etc/ssl
          type: "DirectoryOrCreate"
      - name: usr-share-cacerts
        hostPath:
          path: /usr/share/ca-certificates
          type: "DirectoryOrCreate"
