replicas: 1
clusterName: shoot-foo-bar
kubernetesVersion: 1.15.5
podNetwork: 192.168.0.0/16
podAnnotations: {}
podLabels: {}
featureGates: {}
  # CustomResourceValidation: true
  # RotateKubeletServerCertificate: false
images:
  cloud-controller-manager: image-repository:image-tag
resources:
  requests:
    cpu: 21m
    memory: 64M
  limits:
    memory: 8Gi
tlsCipherSuites: []
secrets:
  server: cloud-controller-manager-server
