replicas: 1
clusterName: shoot-foo-bar
podNetwork: 192.168.0.0/16
podAnnotations: {}
podLabels: {}
featureGates: {}
images:
  cloud-controller-manager: image-repository:image-tag
resources:
  requests:
    memory: 64M
tlsCipherSuites: []
secrets:
  server: cloud-controller-manager-server

useWorkloadIdentity: false
