apiVersion: apps/v1
kind: Deployment
metadata:
  name: remedy-controller-azure
  namespace: {{ .Release.Namespace }}
  labels:
    app: remedy-controller-azure
spec:
  revisionHistoryLimit: 0
  replicas: {{ .Values.replicas }}
  selector:
    matchLabels:
      app: remedy-controller-azure
  template:
    metadata:
      annotations:
        checksum/configmap-remedy-controller-azure-config: {{ include (print $.Template.BasePath "/configmap.yaml") . | sha256sum }}
{{- if .Values.podAnnotations }}
{{ toYaml .Values.podAnnotations | indent 8 }}
{{- end }}
      labels:
        garden.sapcloud.io/role: controlplane
        gardener.cloud/role: controlplane
        app: remedy-controller-azure
        networking.gardener.cloud/to-dns: allowed
        networking.gardener.cloud/to-public-networks: allowed
        networking.gardener.cloud/to-private-networks: allowed
        networking.gardener.cloud/to-seed-apiserver: allowed
        networking.gardener.cloud/to-shoot-apiserver: allowed
        networking.gardener.cloud/from-prometheus: allowed
    spec:
      serviceAccountName: remedy-controller-azure
      containers:
      - name: remedy-controller-azure
        image: {{ index .Values.images "remedy-controller-azure" }}
        imagePullPolicy: IfNotPresent
        command:
        - /remedy-controller-azure
        - --target-kubeconfig=/var/lib/remedy-controller-azure/kubeconfig
        - --namespace={{ .Release.Namespace }}
        - --config-file=/etc/remedy-controller-azure/config/config.yaml
        - --infrastructure-config=/etc/kubernetes/cloudprovider/cloudprovider.conf
        - --leader-election=true
        - --publicipaddress-max-concurrent-reconciles={{ .Values.controllers.publicipaddress.concurrentSyncs }}
        - --virtualmachine-max-concurrent-reconciles={{ .Values.controllers.virtualmachine.concurrentSyncs }}
        - --service-max-concurrent-reconciles={{ .Values.controllers.service.concurrentSyncs }}
        - --node-max-concurrent-reconciles={{ .Values.controllers.node.concurrentSyncs }}
        - --metrics-bind-address=:{{.Values.manager.metricsPort}}
        - --target-metrics-bind-address=:{{.Values.targetManager.metricsPort}}
        - --disable-controllers={{ .Values.disableControllers | join "," }}
        - --target-disable-controllers={{ .Values.targetDisableControllers | join "," }}
        env:
        - name: LEADER_ELECTION_NAMESPACE
          valueFrom:
            fieldRef:
              fieldPath: metadata.namespace
        ports:
        - name: metrics
          containerPort: {{ .Values.manager.metricsPort }}
          protocol: TCP
        - name: target-metrics
          containerPort: {{ .Values.targetManager.metricsPort }}
          protocol: TCP
{{- if .Values.resources }}
        resources:
{{ toYaml .Values.resources | indent 10 }}
{{- end }}
        volumeMounts:
        - name: remedy-controller-azure
          mountPath: /var/lib/remedy-controller-azure
        - name: config
          mountPath: /etc/remedy-controller-azure/config
        - name: cloud-provider-config
          mountPath: /etc/kubernetes/cloudprovider
      volumes:
      - name: remedy-controller-azure
        secret:
          secretName: remedy-controller-azure
      - name: config
        configMap:
          name: remedy-controller-azure-config
      - name: cloud-provider-config
        secret:
          secretName: cloud-provider-config
