podAnnotations: {}
cloudProviderConfig: |
  <azure-cloud-provider-config>

images:
  csi-driver-disk: image-repository:image-tag
  csi-driver-file: image-repository:image-tag
  csi-node-driver-registrar: image-repository:image-tag
  csi-liveness-probe: image-repository:image-tag

socketPath: /csi/csi.sock

webhookConfig:
  url: https://service-name.service-namespace/volumesnapshot
  caBundle: |
    -----BEGIN CERTIFICATE-----
    ...
    -----END CERTIFICATE-----

resources:
  csiDriverDisk:
    requests:
      cpu: 20m
      memory: 50Mi
  csiDriverFile:
    requests:
      cpu: 20m
      memory: 50Mi
  nodeDriverRegistrar:
    requests:
      cpu: 11m
      memory: 32Mi
  livenessProbe:
    requests:
      cpu: 11m
      memory: 32Mi
