podAnnotations: {}
cloudProviderConfig: |
  <azure-cloud-provider-config>

images:
  csi-driver-disk: image-repository:image-tag
  csi-driver-file: image-repository:image-tag
  csi-node-driver-registrar: image-repository:image-tag
  csi-liveness-probe: image-repository:image-tag

socketPath: /csi/csi.sock

global:
  vpaEnabled: false

webhookConfig:
  url: https://service-name.service-namespace/volumesnapshot
  caBundle: |
    -----BEGIN CERTIFICATE-----
    ...
    -----END CERTIFICATE-----

resources:
  csiDriverDisk:
    requests:
      cpu: 20m
      memory: 50Mi
  csiDriverFile:
    requests:
      cpu: 20m
      memory: 50Mi
  nodeDriverRegistrar:
    requests:
      cpu: 11m
      memory: 32Mi
  livenessProbe:
    requests:
      cpu: 11m
      memory: 32Mi

pspDisabled: false

vpa:
  resourcePolicy:
    csiDriverDisk:
      maxAllowed:
        cpu: 2
        memory: 4G
    csiDriverFile:
      maxAllowed:
        cpu: 2
        memory: 4G
    nodeDriverRegistrar:
      maxAllowed:
        cpu: 1
        memory: 3G
    livenessProbe:
      maxAllowed:
        cpu: 1
        memory: 3G
