replicas: 1
podAnnotations: {}

images:
  csi-driver-disk: image-repository:image-tag
  csi-driver-file: image-repository:image-tag
  csi-provisioner: image-repository:image-tag
  csi-attacher: image-repository:image-tag
  csi-snapshotter: image-repository:image-tag
  csi-resizer: image-repository:image-tag
  csi-liveness-probe: image-repository:image-tag
  csi-snapshot-controller: image-repository:image-tag

socketPath: /var/lib/csi/sockets/pluginproxy

resources:
  csiDriverDisk:
    requests:
      memory: 50Mi
  csiDriverFile:
    requests:
      memory: 50Mi

  provisioner:
    requests:
      memory: 40Mi
  attacher:
    requests:
      memory: 40Mi
  snapshotter:
    requests:
      memory: 60Mi
  resizer:
    requests:
      memory: 50Mi
  livenessProbe:
    requests:
      memory: 40Mi

csiSnapshotController:
  replicas: 1
  podAnnotations: {}
  resources:
    requests:
      memory: 32Mi

useWorkloadIdentity: false
