replicas: 1
podAnnotations: {}

images:
  csi-driver-disk: image-repository:image-tag
  csi-driver-file: image-repository:image-tag
  csi-provisioner: image-repository:image-tag
  csi-attacher: image-repository:image-tag
  csi-snapshotter: image-repository:image-tag
  csi-resizer: image-repository:image-tag
  csi-liveness-probe: image-repository:image-tag
  csi-snapshot-controller: image-repository:image-tag
  csi-snapshot-validation-webhook: image-repository:image-tag

socketPath: /var/lib/csi/sockets/pluginproxy

resources:
  csiDriverDisk:
    requests:
      cpu: 20m
      memory: 50Mi
    limits:
      memory: 500Mi
  csiDriverFile:
    requests:
      cpu: 20m
      memory: 50Mi
    limits:
      memory: 200Mi 

  provisioner:
    requests:
      cpu: 10m
      memory: 40Mi
    limits:
      memory: 1.2Gi
  attacher:
    requests:
      cpu: 11m
      memory: 40Mi
    limits:
      memory: 610Mi
  snapshotter:
    requests:
      cpu: 11m
      memory: 60Mi
    limits:
      memory: 400Mi
  resizer:
    requests:
      cpu: 11m
      memory: 50Mi
    limits:
      memory: 900Mi
  livenessProbe:
    requests:
      cpu: 11m
      memory: 40Mi
    limits:
      memory: 150Mi

csiSnapshotController:
  replicas: 1
  podAnnotations: {}
  resources:
    requests:
      cpu: 10m
      memory: 32Mi
    limits:
      memory: 50Mi

csiSnapshotValidationWebhook:
  replica: 1
  podAnnotations: {}
  secrets:
    server: csi-snapshot-validation-server
  resources:
    requests:
      cpu: 10m
      memory: 32Mi
    limits:
      memory: 50Mi
