{{- if semverCompare ">= 1.23" .Capabilities.KubeVersion.GitVersion -}}
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: gardener.cloud:psp:kube-system:cloud-node-manager
rules:
- apiGroups:
  - policy
  - extensions
  resourceNames:
  - extensions.gardener.cloud.provider-azure.cloud-node-manager
  resources:
  - podsecuritypolicies
  verbs:
  - use
{{- end }}
