---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
{{/*    {{- if (((.Values.config).featureGates).DisableRemedyController) }}*/}}
{{/*    resources.gardener.cloud/mode: "Ignore"*/}}
{{/*    {{- end }}*/}}
    controller-gen.kubebuilder.io/version: v0.6.2
  name: virtualmachines.azure.remedy.gardener.cloud
spec:
  group: azure.remedy.gardener.cloud
  names:
    kind: VirtualMachine
    listKind: VirtualMachineList
    plural: virtualmachines
    shortNames:
    - vm
    singular: virtualmachine
  scope: Namespaced
  versions:
  - name: v1alpha1
    schema:
      openAPIV3Schema:
        description: VirtualMachine represents an Azure virtual machine.
        properties:
          apiVersion:
            description: 'APIVersion defines the versioned schema of this representation
              of an object. Servers should convert recognized schemas to the latest
              internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
            type: string
          kind:
            description: 'Kind is a string value representing the REST resource this
              object represents. Servers may infer this from the endpoint the client
              submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
            type: string
          metadata:
            type: object
          spec:
            description: VirtualMachineSpec represents the spec of an Azure virtual
              machine.
            properties:
              hostname:
                description: Hostname is the hostname of the Kubernetes node for this
                  virtual machine.
                type: string
              notReadyOrUnreachable:
                description: NotReadyOrUnreachable is whether the Kubernetes node
                  for this virtual machine is either not ready or unreachable.
                type: boolean
              providerID:
                description: ProviderID is the provider ID of the Kubernetes node
                  for this virtual machine.
                type: string
            required:
            - hostname
            - notReadyOrUnreachable
            - providerID
            type: object
          status:
            description: VirtualMachineStatus represents the status of an Azure virtual
              machine.
            properties:
              exists:
                description: Exists specifies whether the virtual machine resource
                  exists or not.
                type: boolean
              failedOperations:
                description: FailedOperations is a list of all failed operations on
                  the virtual machine resource in Azure.
                items:
                  description: FailedOperation describes a failed Azure operation
                    that has been attempted a certain number of times.
                  properties:
                    attempts:
                      description: Attempts is the number of times the operation was
                        attempted so far.
                      type: integer
                    errorMessage:
                      description: ErrorMessage is a the error message from the last
                        operation failure.
                      type: string
                    timestamp:
                      description: Timestamp is the timestamp of the last operation
                        failure.
                      format: date-time
                      type: string
                    type:
                      description: Type is the operation type.
                      enum:
                      - GetPublicIPAddress
                      - CleanPublicIPAddress
                      - GetVirtualMachine
                      - ReapplyVirtualMachine
                      type: string
                  required:
                  - attempts
                  - errorMessage
                  - timestamp
                  - type
                  type: object
                type: array
              id:
                description: ID is the id of the virtual machine resource in Azure.
                type: string
              name:
                description: Name is the name of the virtual machine resource in Azure.
                type: string
              provisioningState:
                description: ProvisioningState is the provisioning state of the virtual
                  machine resource in Azure.
                type: string
            required:
            - exists
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
