{{- if eq (include "seed.provider" .) "azure" }}
apiVersion: storage.k8s.io/v1
kind: StorageClass
metadata:
  name: {{ .Values.config.etcd.storage.className }}
  annotations:
    resources.gardener.cloud/delete-on-invalid-update: "true"
  labels: {{- include "labels" . | nindent 4 }}
allowVolumeExpansion: true
provisioner: {{ .Values.config.etcd.storage.provisioner }}
volumeBindingMode: {{ .Values.config.etcd.storage.volumeBindingMode }}
parameters:
  {{- if .Values.config.etcd.storage.parameters }}
    {{- .Values.config.etcd.storage.parameters | toYaml | indent 2 }}
  {{- end }}
{{- end }}
